@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  html,
  body {
    @apply m-0 p-0 font-sans text-slate-50 bg-slate-950;
  }

  a {
    @apply text-inherit no-underline;
  }
}

